body {
    font-family: 'Josefin Sans', sans-serif;
}

.nav-top {
    justify-content: space-between;
    padding-top: 30px;
}

nav a {
    padding-left: 12px;
    padding-right: 12px;
    color: slategrey;
    text-decoration: none;
}

header {
    padding-top: 40px;
    color: darkslategrey;
    font-weight: normal;
}

header h1 {
    font-weight: normal;
}

header h2 {
    font-size: 1.1em;
    color: slategrey;
    font-weight: normal;
}

.thumbnail-height {
    height: auto;
}

body .thumbnail-height:hover {
    transition: all 100ms ease-out;
    transform: scale(1.01);
}

footer {
    color: darkslategrey;
}

.index-top {
    padding-top: 60px;
}