/* mobile specific css */
@media (max-width: 767px) {
    #navbarToggler {
        padding-top: 20px;
    }

    .project-thumbnail {
        padding-bottom: 10px;
    }

    .project-heading {
        padding-top: 20px;
    }
}

/* tablet specific css */
@media (max-width: 984px) {
    #navbarToggler {
        padding-top: 20px;
    }
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.nav-top {
    justify-content: space-between;
    padding-top: 30px;
 }

.nav-top a {
    text-decoration: none;
    color: inherit;
}

header h1 {
    letter-spacing: 3px;
}

header h2 {
    letter-spacing: 3px;
}

nav a {
    padding-left: 12px;
    padding-right: 12px;
    color: slategrey;
    text-decoration: none;
    letter-spacing: 2px;


}

nav {
    display: unset !important;
}

header {
    padding-top: 50px;
    color: darkslategrey;
    font-weight: normal;
    padding-bottom: 70px;
}

header h1 {
    font-weight: normal;
}

header h2 {
    font-size: 1.1em;
    color: slategrey;
    font-weight: normal;
}

.project-thumbnail {
    height: auto;
}

body .project-thumbnail:hover {
    transition: all 200ms ease-out;
    transform: scale(1.01);
}

footer {
    color: darkslategrey;
}

.font-awesome-icon {
    font-size: 4em;
    color: slategrey;
    text-align: center;
}

.font-awesome-icon a {
    color: inherit;
}

.about-title {
    color: darkslategray;
}

.about-text {
    padding-top: 40px;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 1.0em;
    color: darkslategray;
}

.project-body {
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
    text-align: justify;
    padding-top: 20px;
    color: slategray;
}

.project-heading {
    color: slategray;
}

footer {
    padding-top: 50px;
}